#approved{
    background-color: rgb(78, 78, 78);
}
.container{
    margin-top:10%;

}
.table{
    text-align: center;
    border-width: 5px ;
}
.box {
    width: 20px;
    height: 25px;
    border: b;
    background-color: #d9dfe3; /* Blue background color */
    
    text-align: center; /* Center text horizontally */
    
    margin: 10px; /* Add some margin for spacing */
    float:left;
} 

.box.approved{
    background-color:rgb(78, 78, 78);
    
}